@import "tailwindcss";
@import "react-loading-skeleton/dist/skeleton.css";

/* Light mode defaults */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: var(--font-instrument-sans), system-ui, sans-serif;
  --font-heading: var(--font-instrument-sans), system-ui, sans-serif;
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Optional: define Tailwind theme variable linkage */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Typography defaults */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: theme('colors.gray.700');
  font-family: var(--font-heading);
  font-weight: 600;
}

p {
  color: theme('colors.gray.500');
  font-family: var(--font-sans);
  line-height: 1.6;
}